aenum==2.2.3
aniso8601==8.0.0
attrs==19.3.0
certifi==2019.3.9
click==7.1.2
dbf==0.98.3
defusedxml==0.6.0
et-xmlfile==1.0.1
Flask==1.0.3
Flask-Cors==3.0.8
Flask-OpenID==1.2.5
Flask-RESTful==0.3.7
flask-restplus==0.13.0
importlib-metadata==1.7.0
itsdangerous==1.1.0
jdcal==1.4.1
Jinja2==2.11.2
jsonschema==3.2.0
MarkupSafe==1.1.1
openpyxl==3.0.1
peewee==3.13.3
Pillow==6.0.0
PyAutoGUI==0.9.42
PyGetWindow==0.0.1
PyMsgBox==1.0.6
PyMySQL==0.9.3
pyrsistent==0.16.0
PyScreeze==0.1.20
python-dateutil==2.8.1
python3-openid==3.2.0
PyTweening==1.0.3
pytz==2020.1
six==1.12.0
Werkzeug==0.16.1
wincertstore==0.2
xlrd==1.1.0
xlutils==2.0.0
xlwt==1.3.0
zipp==3.1.0
